[Unit]
Description=Stop Bazarr

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop bazarr.service
ExecStart=/usr/bin/systemctl start bazarr-start.timer
TimeoutStopSec=180s

[Install]
WantedBy=multi-user.target
