[Unit]
Description=mergmediacache service
RequiresMountsFor=/mnt/nvme/media /mnt/dietpi_userdata/media
Before=sonarr.service radarr.service bazarr.service emby-server.service plexmediaserver.service qbittorrent.service mergmedia.service
ConditionPathExists=/mnt/nvme/media
ConditionPathExists=/mnt/dietpi_userdata/media

[Service]
Type=simple

StandardOutput=journal
StandardError=journal

ExecStart=/usr/bin/mergerfs \
	-f \
	-o cache.files=partial \
	-o dropcacheonclose=true \
	-o category.create=mfs \
	-o minfreespace=20G \
	-o fsname=mergecachefs \
	-o moveonenospc=true \
	-o ignorepponrename=true \
	-o allow_other \
	-o nonempty \
	-o func.getattr=newest \
	-o uid=1000 \
	-o gid=1000 \
	/mnt/nvme/media:/mnt/dietpi_userdata/media=NC \
	/mnt/mediacache
ExecStopPost=umount /mnt/mediacache
ExecStopPost=rm -rdf /mnt/mediacache
Restart=on-failure
TimeoutStopSec=50s

[Install]
WantedBy=plexmediaserver.service emby-server.service sonarr.service radarr.service qbittorrent.service
WantedBy=nfs-client.target default.target
