[Unit]
Description=torpy search service
# Wants=radarr.service sonarr.service 
Requisite=netns@vpnNS.service radarr.service sonarr.service 
# Conflicts=torpymanage.service
After=torpymanage.service radarr.service sonarr.service

[Service]
Type=oneshot
# User=dietpi
SyslogIdentifier=torpysearch

ExecStart=/usr/local/bin/torpy/torpy.bash \
    --conf /usr/local/bin/configs/torpy.conf
    --search-episode 18
    --no-safetycheck

ExecStart=/usr/local/bin/torpy/torpy.bash \
    --conf /usr/local/bin/configs/torpy.conf
    --search-movie 35
    --no-safetycheck

TimeoutStartSec=45s
TimeoutStopSec=25s

# Accept exit codes 0 and 2 as successful - radarr or sonarr connection issue
# exit code 3 is qbt connection issue
SuccessExitStatus=0 2
# Accept exit codes 3 and 4 as failures
# FailureExitStatus=3 4

[Install]
#WantedBy=multi-user.target
